@import url('https://fonts.googleapis.com/css2?family=Junge&family=Jura:wght@400;700&family=Kadwa:wght@400;700&display=swap');

:root{
  --font-Jura: font-family: 'Jura', sans-serif;
  --font-Junge: font-family: 'Junge', sans-serif;
  --font-Kadwa: font-family: 'Kadwa', serif;

  --bg: background: #F3F3F3;
  --bg-Separado: background: rgba(0, 0, 0, 0.06); 
  --azul-Padrao: #0B1FD6;
  --azul-Claro:  #3949DD;
}

*{
  background-color: var(--bg);
}

.hotbar{
  padding: 43px;
  display: flex;
  justify-content: space-between;
}

.hotbar__itens{
  width: 744px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.item__lista{
  display: grid;
	align-items: center;
  color: #000;

  font-family: var(--font-Kadwa);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item__lista:hover{
  cursor: pointer;
}

.inicio{
  padding-top: 163px;
  text-align: center;
}

.item__title-principal{
  font-family: var(--font-Kadwa);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item__title-principal p{
  margin: 32px;
}

.span{
  color: var(--azul-Padrao);
}

.item__subTitle{
  color: #000;
  font-family: Junge;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 842px;
  margin: auto;
}

.item__subTitle p{
  margin: 0;
}

.item__button-Contato button{
  width: 283px;
  height: 56px;
  border-radius: 5px;
  background: #0B1FD6;
  border: 0;
  margin: 41px 0px 158px 0;

  color: #EBEBEB;
  font-family: Jura;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}